<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>

<link rel="stylesheet" type="text/css" th:href="@{/css/register.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/registration.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/profile2.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">

		<div class="navbar navbar-dark red"
			style="background-color: #E0B880;>
  <div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a href="/home" class="navbar-brand">Home Page</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/personels/all}">All Personnels</a></li>

					<li th:if="${control == 'ADMIN'}" class="dropdown"><a href="#"
						class="dropdown-toggle" data-toggle="dropdown" role="button"
						aria-haspopup="true" aria-expanded="false">Personnel Type <span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/admin/roles/new}">New Personnel Type</a></li>
							<li><a th:href="@{/admin/roles/all}">All Personnel Types</a></li>
						</ul></li>
					<li th:if="${control == 'ADMIN'}" class="dropdown"><a href="#"
						class="dropdown-toggle" data-toggle="dropdown" role="button"
						aria-haspopup="true" aria-expanded="false">Tasks <span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/admin/tasks/new}">New Task </a></li>
							<li><a th:href="@{/admin/tasks/all}">All Tasks </a></li>
						</ul></li>

					<li th:if="${control == 'ADMIN'}" class="dropdown"><a href="#"
						class="dropdown-toggle" data-toggle="dropdown" role="button"
						aria-haspopup="true" aria-expanded="false">Personnel-Task
							Management <span class="caret"></span>
					</a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/admin/personel-task/new}">Task Assignment</a></li>
							<li><a th:href="@{/admin/personel-task/all}">Personnel
									Tasks </a></li>
						</ul></li>


				</ul>
				<form class="navbar-form navbar-left">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default">Search</button>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">PROFİLİM <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<div class="navbar-content">
									<div class="row">
										<div class="col-md-5">
											<img src="http://placehold.it/120x120" alt="Alternate Text"
												class="img-responsive" />
											<p class="text-center small">
												<a href="#">Change Photo</a>
											</p>
										</div>
										<div class="col-md-7">
											<i class="glyphicon glyphicon-name" th:text="${user.name}"></i>
											<p class="text-muted small">
												<i class="glyphicon glyphicon-email" th:text="${user.email}"></i>
											</p>
											<div class="divider"></div>
											<a th:href="@{/myprofile/inf}"
												class="btn btn-primary btn-sm active">View My Profile
												</a>
										</div>
									</div>
								</div>
								<div class="navbar-footer">
									<div class="navbar-footer-content">
										<div class="row">
											<div class="col-md-6">
												<a th:href="@{/myprofile/change_password(id=${user.id})}" class="btn btn-default btn-sm">Change
													Password</a>
											</div>
											<div class="col-md-6">
												<a th:href="@{/logout}"
													class="btn btn-danger btn-sm pull-right"><span class="glyphicon glyphicon-off"></span> Sign Out</a>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->



		<div th:if="${control == 'ADMIN'}">
			<div class="panel-group" style="margin-top: 20px">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<span th:utext="${userName}"></span>
					</div>
					<div class="panel-body">
						<img th:src="@{/images/admin.png}"
							class="img-responsive center-block" width="400" height="400"
							alt="" />
					</div>
					<p class="admin-message-text text-center"
						th:utext="${adminMessage}"></p>
				</div>
			</div>
		</div>

		<div th:if="${control == 'USER'}">
			<div class="panel-group" style="margin-top: 20px">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<span th:utext="${userName}"></span>
					</div>
					<div class="panel-body">
						<img th:src="@{/images/user.jpg}"
							class="img-responsive center-block" width="400" height="400"
							alt="" />
					</div>
					<p class="admin-message-text text-center"
						th:utext="${adminMessage}"></p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>