<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:t="http://www.thymeleaf.org">
<head>
<title>Registration Form</title>

<link href="/css/bootselect.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">

</head>
<body>
	<form th:action="@{/logout}" method="get">
		<button class="btn btn-md btn-danger btn-block" name="registration"
			type="Submit">LOG OUT</button>
	</form>

	<div role="navigation">
		<div class="navbar navbar-inverse">
			<a href="/home" class="navbar-brand">Home Page</a>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/admin/roles/new}">Yeni Personel Tipi</a></li>
					<li><a th:href="@{/admin/roles/all}">Tüm Personel
							Tipleri</a></li>
					<li><a th:href="@{/personels/all}">Tüm Personeller </a></li>
					<li><a th:href="@{/admin/tasks/new}">Yeni Görev </a></li>
					<li><a th:href="@{/admin/tasks/all}">Tüm Görevler </a></li>
					<li><a th:href="@{/admin/personel-task/new}">Personele Göre Ata
					</a></li>
					<li><a th:href="@{/admin/personel-task/all}">Personel Görevleri
					</a></li>
					<li><a th:href="@{/myprofile/inf}">PROFİLİM </a></li>
				</ul>
			</div>
		</div>
	</div>

	<div th:if="${mode == 'MODE_ALL'}">
		<div class="container text-center" id="personel_typeDiv">
			<h3>Personeller</h3>
			<hr>
			<div class="table-responsive">
				<table class="table table-striped table-bordered text-left">
					<thead>
						<tr>
							<th>Adi</th>
							<th>E-mail Adresi</th>
							<th>Active</th>
							<th>Type</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="personel : ${personels}">
							<td th:text="${personel.name}"></td>
							<td th:text="${personel.email}"></td>
							<td th:text="${personel.active}"></td>
							<td th:text="${personel.role.role}"></td>

							<td><a th:href="@{/personels/update(id=${personel.id})}"><span
									class="glyphicon glyphicon-pencil"></span> EDIT</a></td>
							<td><a th:href="@{/personels/delete(id=${personel.id})}"><span
									class="glyphicon glyphicon-trash"></span> DELETE</a></td>
						</tr>
					</tbody>
				</table>
				<p class="admin-message-text text-center" th:utext="${role}"></p>
			</div>
		</div>
	</div>
	<div th:if="${mode == 'MODE_UPDATE'}">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-2">
					<form autocomplete="off" action="#" th:action="@{/personels/save}"
						th:object="${personel}" method="post" class="form-horizontal"
						role="form">
						<h2>Edit Personel</h2>
						<input type="hidden" name="id" th:field="${personel.id}" />
						<div class="form-group">
							<label class="control-label col-lg-3">Personelin Adi</label>
							<div class="col-md-4 text-left">
								<input type="text" th:field="${personel.name}"
									placeholder="Name" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-lg-3">Personelin E-Mail
								Adresi</label>
							<div class="col-md-4 text-left">
								<input type="text" th:field="${personel.email}"
									placeholder="Email" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-lg-3">Personelin Durumu</label>
							<div class="col-md-4 text-left">
								<input type="text" th:field="${personel.active}"
									placeholder="Durum" class="form-control" />
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-lg-3">Personelin Type</label>
							<div class="col-md-4 text-left">
								<select class="selectpicker" data-live-search="true"
									title="Role Seçin" name="role" tabindex="-98">
									<option th:each="role: ${roles}" th:value="${role.id}"
										th:text="${role.role}"></option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-2 text-left">
								<button type="submit" class="btn btn-primary btn-block">Kaydet</button>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>

	<div th:if="${mode == 'MODE_NEW'}">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<form autocomplete="off" action="#"
						th:action="@{/personel_types/save}" th:object="${personel_type}"
						method="post" class="form-horizontal" role="form">
						<h2>personel_type Form</h2>
						<div class="form-group">
							<div class="col-md-7">
								<input type="text" th:field="*{name}" placeholder="Name"
									class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-2 text-left">
								<button type="submit" class="btn btn-primary btn-block">Kaydet</button>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>

	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-select.min.js"></script>
</body>
</html>