<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:t="http://www.thymeleaf.org">
<head>
<title>Görevli Personeller</title>



<link href="/css/bootselect.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">

</head>
<body>
	<div class="container">
		<nav class="navbar navbar-dark red"
			style="background-color: #E0B880;>
  <div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a href="/home" class="navbar-brand">Home Page</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/personels/all}">Tüm Personeller </a></li>

					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Personel Tipleri <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/admin/roles/new}">Yeni Personel Tipi</a></li>
							<li><a th:href="@{/admin/roles/all}">Tüm Personel
									Tipleri</a></li>
						</ul></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Görevler <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/admin/tasks/new}">Yeni Görev </a></li>
							<li><a th:href="@{/admin/tasks/all}">Tüm Görevler </a></li>
						</ul></li>

					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Personel-Görev Yönetimi <span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/admin/personel-task/new}">Personele
									Göre Atama</a></li>
							<li><a th:href="@{/admin/personel-task/all}">Personellerin
									Görevleri </a></li>
						</ul></li>


				</ul>
				<form class="navbar-form navbar-left">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default">Search</button>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">PROFİLİM <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/myprofile/inf}">Profilimi Görüntüle </a></li>
							<li role="separator" class="divider"></li>
							<li><a th:href="@{/logout}">Çıkış </a></li>
						</ul></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
	</nav>
	</div>


	<div th:if="${mode == 'MODE_ALL'}">
		<div class="container text-center" id="personel_typeDiv">
			<h3>Personellerin Görevleri</h3>
			<hr>
			<div class="table-responsive">
				<table class="table table-striped table-bordered text-left">
					<thead>
						<tr>
							<th>Personel Adi</th>
							<th>Personel Görevi</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="usertask : ${user_tasks}">
							<td th:text="${usertask.user.name}"></td>
							<td th:text="${usertask.task.name}"></td>
							<td><a
								th:href="@{/admin/personel-task/update(id=${usertask.id})}"><span
									class="glyphicon glyphicon-pencil"></span> EDIT</a></td>
							<td><a
								th:href="@{/admin/personel-task/delete(id=${usertask.id})}"><span
									class="glyphicon glyphicon-trash"></span> DELETE</a></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
	<div th:if="${mode == 'MODE_UPDATE'}">
		<div class="container">
			<div class="row">
				<form autocomplete="off" action="#"
					th:action="@{/admin/personel-task/save}" action="#"
					th:object="${user_task}" method="post" class="form-horizontal"
					role="form">
					<fieldset>
						<!-- Form Name -->
						<legend>Personelin Görevini Düzenle</legend>
						<!-- Text input-->
						<input type="hidden" name="id" th:field="${user_task.id}" />

						<div class="form-group">
							<label class="col-md-4 control-label">Personelin Adı</label>
							<div class="col-md-3 text-left">
								<input type="hidden" th:field="${user_task.user.id}"
									placeholder="user" class="form-control" /> <input type="text"
									th:field="${user_task.user.name}" placeholder="user"
									class="form-control" disabled />
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-4 control-label">Personelin Görevi</label>
							<div class="col-md-4 text-left">
								<select class="selectpicker" data-live-search="true"
									title="Type Seçin" name="task" tabindex="-98">
									<option th:each="task: ${tasks}" th:value="${task.id}"
										th:text="${task.name}"></option>
								</select>
							</div>
						</div>

						<!-- Button (Double) -->
						<div class="form-group">
							<label class="col-md-4 control-label" for="submitButton"></label>
							<div class="col-md-8">
								<button type="submit" id="submitButton" name="submitButton"
									class="btn btn-success">Save</button>
								<button type="button" class="btn btn-inverse"
									onclick="location.href='/admin/personel-task/all'">Cancel</button>
							</div>

						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>

	<div th:if="${mode == 'MODE_NEW'}">
		<div class="container">
			<div class="row">
				<form autocomplete="off" action="#"
					th:action="@{/admin/personel-task/save}" action="#"
					th:object="${user_task}" method="post" class="form-horizontal"
					role="form">
					<fieldset>
						<!-- Form Name -->
						<legend>Personele Görev Atama</legend>
						<!-- Text input-->
						<input type="hidden" name="id" th:field="${user_task.id}" />
						<div class="form-group">
							<label class="col-md-4 control-label">Personel</label>
							<div class="col-md-4 text-left">
								<select class="selectpicker" data-live-search="true"
									title="Personel Seçin" name="user" tabindex="-98">
									<option th:each="user: ${users}" th:value="${user.id}"
										th:text="${user.name}"></option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-4 control-label">Görev</label>
							<div class="col-md-4 text-left">
								<select class="selectpicker" data-live-search="true"
									title="Görev Seçin" name="task" tabindex="-98">
									<option th:each="task: ${tasks}" th:value="${task.id}"
										th:text="${task.name}"></option>
								</select>
							</div>
						</div>

						<!-- Button (Double) -->
						<div class="form-group">
							<label class="col-md-4 control-label" for="submitButton"></label>
							<div class="col-md-8">
								<button type="submit" id="submitButton" name="submitButton"
									class="btn btn-success">Save</button>
								<button type="button" class="btn btn-inverse"
									onclick="location.href='/admin/personel-task/all'">Cancel</button>
							</div>

						</div>

					</fieldset>
				</form>
			</div>
		</div>
	</div>

	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-select.min.js"></script>
</body>
</html>